### 분기별 데이터 불러낸 후 concat

In [1]:
import pandas as pd
from tqdm import tqdm

pricedata = pd.read_csv('enlist_ver_2.0.csv')

In [17]:
fsdata = pd.read_csv('kor_fs.csv', encoding='cp949')

In [4]:
len(fsdata['거래소코드'].unique())

2230

In [18]:
fsdata.columns = ['회사명', '종목코드', '날짜', '당기순이익', '자산',
       '부채', '자본금', '이익잉여금',
       '매출액', '매출총이익',
       '영업이익', '자본' ,'유동자산']

In [19]:
fsdata.reset_index(inplace=True)

In [20]:

fsdata.drop('index', axis=1, inplace=True)

In [8]:
fsdata.to_csv('fs_ver_1.0.csv')

In [19]:
#비상상황시
import pandas as pd
fsdata = pd.read_csv('fs_ver_1.0.csv')

### 종목코드 별 날짜 데이터 개수가 43개인 기업만 concat

In [9]:
uni = fsdata['종목코드'].unique().tolist()

In [10]:
fsdata.shape

(21203, 13)

In [11]:
fsdata_copy = fsdata.copy()

In [12]:
# fsdata_43 = pd.DataFrame()

# for i in tqdm(uni):
#     if len(fsdata[fsdata['종목코드']==i]['날짜'].unique()) == 43:
#         fsdata_43 = pd.concat([fsdata_43, fsdata[fsdata['종목코드']==i]])

# fsdata_43

for i in tqdm(uni):
    if len(fsdata[fsdata['종목코드']==i]['날짜'].unique()) != 12:
        fsdata = fsdata.drop(fsdata[fsdata['종목코드']==i].index, axis=0)

fsdata

  0%|          | 0/2230 [00:00<?, ?it/s]

100%|██████████| 2230/2230 [00:05<00:00, 409.18it/s]

,회사명,종목코드,날짜,당기순이익,자산,부채,자본금,이익잉여금,매출액,매출총이익,영업이익,자본,유동자산
0,(주)CMG제약,58820,2011/12,-1264488.0,27548539.0,9257624.0,18290915.0,7425905.0,17751704.0,21846600.0,-44971257.0,-1264488.0,15264885.0
1,(주)CMG제약,58820,2012/12,-6892739.0,56988604.0,25386064.0,31602540.0,4606698.0,16255389.0,33012770.0,-52368787.0,-6892739.0,47073443.0
2,(주)CMG제약,58820,2013/12,335258.0,55961620.0,6913407.0,49048213.0,7815323.0,20322140.0,43313433.0,-52151440.0,350267.0,38258866.0
3,(주)CMG제약,58820,2014/12,171502.0,58127098.0,9060059.0,49067039.0,8434535.0,22752584.0,43313433.0,-52330174.0,171502.0,28359823.0
4,(주)CMG제약,58820,2015/12,-3648668.0,56591972.0,9719267.0,46872705.0,9804080.0,27041894.0,44148622.0,-56348409.0,-3648668.0,26330765.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21198,흥아해운(주),3280,2018/12,-96953501.0,782787041.0,726055487.0,56731554.0,-19521027.0,705007198.0,87821715.0,-40238681.0,-96953501.0,103181415.0
21199,흥아해운(주),3280,2019/12,-52550693.0,386550839.0,368918610.0,17632229.0,-1375690.0,97376909.0,56056196.0,-46527222.0,-45471339.0,61182850.0
21200,흥아해운(주),3280,2020/12,-37397763.0,284767347.0,304928523.0,-20161176.0,4981490.0,85455349.0,58366280.0,-84003911.0,-37397763.0,51275586.0
21201,흥아해운(주),3280,2021/12,15770398.0,247989912.0,139842916.0,108146996.0,5337015.0,81724314.0,120212450.0,-68458487.0,15770398.0,53674943.0
21202,흥아해운(주),3280,2022/12,13941742.0,292999868.0,164974779.0,128025089.0,31283260.0,146029641.0,120212450.0,-54358698.0,13941742.0,75237299.0

In [13]:
fsdata.shape

(16596, 13)

### price 데이터 종목코드로 filtering

In [21]:
pricelist = pricedata['종목코드'].unique().tolist()

In [22]:
fsdata_filt=pd.DataFrame()

for i in tqdm(pricelist):
   fsdata_filt = pd.concat([fsdata_filt, fsdata[fsdata['종목코드']==i]])

fsdata_filt

100%|██████████| 1338/1338 [00:03<00:00, 377.41it/s]

,회사명,종목코드,날짜,당기순이익,자산,부채,자본금,이익잉여금,매출액,매출총이익,영업이익,자본,유동자산
14568,동화약품(주),20,2011/12,17679223.0,339431477.0,109807603.0,229623874.0,107930253.0,234561984.0,27931470.0,172752303.0,17679223.0,132321355.0
14569,동화약품(주),20,2012/12,1311241.0,324284672.0,97290002.0,226994670.0,98772674.0,223371997.0,27931470.0,169661268.0,1311241.0,121235712.0
14570,동화약품(주),20,2013/12,1011860.0,316165541.0,88934413.0,227231127.0,95673706.0,220240575.0,27931470.0,170147330.0,1011860.0,116759938.0
14571,동화약품(주),20,2014/12,4937205.0,313073100.0,83347317.0,229725782.0,95203910.0,213472145.0,27931470.0,173103713.0,4937205.0,120547703.0
14572,동화약품(주),20,2015/12,5608652.0,317187030.0,87069288.0,230117742.0,96579379.0,223201285.0,27931470.0,174195361.0,5608652.0,135014686.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14507,동일고무벨트(주),163560,2018/12,9835573.0,283794224.0,97394523.0,186399701.0,42474431.0,257028413.0,6500000.0,76160271.0,9835573.0,148662425.0
14508,동일고무벨트(주),163560,2019/12,8229095.0,279641942.0,86899049.0,192742893.0,44601271.0,256409873.0,6675000.0,82328463.0,8229095.0,146866314.0
14509,동일고무벨트(주),163560,2020/12,7618448.0,274637745.0,75143524.0,199494220.0,44302881.0,238594728.0,6825000.0,88922150.0,7618448.0,144193669.0
14510,동일고무벨트(주),163560,2021/12,3435784.0,303794263.0,103285147.0,200509116.0,45737972.0,272693029.0,6950000.0,89807209.0,3435784.0,157788577.0
14511,동일고무벨트(주),163560,2022/12,9587170.0,372451008.0,160285008.0,212166000.0,73463794.0,382323241.0,6950000.0,101464093.0,9587170.0,216753169.0

In [23]:
fsdata_filt['날짜'].unique()

array(['2011/12', '2012/12', '2013/12', '2014/12', '2015/12', '2016/12',
       '2017/12', '2018/12', '2019/12', '2020/12', '2021/12', '2022/12',
       '2011/03', '2012/03', '2013/03', '2014/03', '2015/03', '2016/03',
       '2017/03', '2011/09', '2012/09', '2013/09', '2014/09', '2018/03',
       '2019/03', '2020/03', '2011/06', '2012/06', '2013/06', '2014/06',
       '2015/09', '2015/06', '2016/06', '2017/06', '2018/06', '2011/10',
       '2019/06'], dtype=object)

In [24]:
date_list = ['2011/03', '2012/03', '2013/03', '2014/03', '2015/03', '2016/03',
       '2017/03', '2011/09', '2012/09', '2013/09', '2014/09', '2018/03',
       '2019/03', '2020/03', '2011/06', '2012/06', '2013/06', '2014/06',
       '2015/09', '2015/06', '2016/06', '2017/06', '2018/06', '2011/10',
       '2019/06']
fsdata_filt_date = fsdata_filt.copy()

In [25]:
for i in tqdm(date_list):
    fsdata_filt_date = fsdata_filt_date.drop(fsdata_filt_date[fsdata_filt['날짜']==i].index)

  0%|          | 0/25 [00:00<?, ?it/s]C:\Users\성현태\AppData\Local\Temp\ipykernel_16500\3580860842.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fsdata_filt_date = fsdata_filt_date.drop(fsdata_filt_date[fsdata_filt['날짜']==i].index)
100%|██████████| 25/25 [00:00<00:00, 88.21it/s]

In [26]:
fsdata_filt_date['종목코드'].value_counts()

20        12
54950     12
57540     12
57050     12
57030     12
          ..
36420      4
54180      3
18700      2
970        2
108320     1
Name: 종목코드, Length: 1263, dtype: int64

In [27]:
fsdata_filt_date_real = fsdata_filt_date.copy()

In [28]:
code_list = fsdata_filt_date_real['종목코드'].unique().tolist()

In [29]:
for i in tqdm(code_list):
    if len(fsdata_filt_date_real[fsdata_filt_date_real['종목코드']==i]['날짜']) != 12:
        fsdata_filt_date_real = fsdata_filt_date_real.drop(fsdata_filt_date_real[fsdata_filt_date_real['종목코드']==i].index, axis=0)

100%|██████████| 1263/1263 [00:01<00:00, 1047.21it/s]

In [30]:
fsdata_filt_date_real['종목코드'].value_counts()

20        12
58730     12
58630     12
58610     12
58470     12
          ..
17000     12
16920     12
16800     12
16710     12
145990    12
Name: 종목코드, Length: 1210, dtype: int64

In [31]:
fsdata_filt_date_real.to_csv('fs_ver_1.1.csv')

In [48]:
fsdata_filt = pd.read_csv('fs_ver_1.1.csv')

### 0값이 존재하는 거래소코드 데이터 drop

In [49]:
fsdata_filt[fsdata_filt['매출액'].isna()].count()

Unnamed: 0    12
회사명           12
종목코드          12
날짜            12
당기순이익          0
자산             0
부채             0
자본금            0
이익잉여금          0
매출액            0
매출총이익          0
영업이익           0
자본             0
유동자산           0
dtype: int64

In [53]:
fsdata_filt[fsdata_filt['매출액']==0]['종목코드']

1779    4150
Name: 종목코드, dtype: int64

In [68]:
fsdata_filt[fsdata_filt['유동자산'] == 0]
# 1779 - 종목코드

Empty DataFrame
Columns: [Unnamed: 0, 회사명, 종목코드, 날짜, 당기순이익, 자산, 부채, 자본금, 이익잉여금, 매출액, 매출총이익, 영업이익, 자본, 유동자산]
Index: []

In [69]:
fsdata_zero = fsdata_filt.copy()

In [70]:
# 무식하게 하나하나 쳐서 찾은 0값 가진 종목코드 list
zero_list = [4150]

In [71]:
for i in tqdm(zero_list):
    fsdata_zero = fsdata_zero.drop(fsdata_zero[fsdata_zero['종목코드']==i].index, axis=0)

fsdata_zero

100%|██████████| 1/1 [00:00<00:00, 91.23it/s]

,Unnamed: 0,회사명,종목코드,날짜,당기순이익,자산,부채,자본금,이익잉여금,매출액,매출총이익,영업이익,자본,유동자산
0,14568,동화약품(주),20,2011/12,17679223.0,3.394315e+08,1.098076e+08,2.296239e+08,107930253.0,2.345620e+08,27931470.0,172752303.0,17679223.0,132321355.0
1,14569,동화약품(주),20,2012/12,1311241.0,3.242847e+08,9.729000e+07,2.269947e+08,98772674.0,2.233720e+08,27931470.0,169661268.0,1311241.0,121235712.0
2,14570,동화약품(주),20,2013/12,1011860.0,3.161655e+08,8.893441e+07,2.272311e+08,95673706.0,2.202406e+08,27931470.0,170147330.0,1011860.0,116759938.0
3,14571,동화약품(주),20,2014/12,4937205.0,3.130731e+08,8.334732e+07,2.297258e+08,95203910.0,2.134721e+08,27931470.0,173103713.0,4937205.0,120547703.0
4,14572,동화약품(주),20,2015/12,5608652.0,3.171870e+08,8.706929e+07,2.301177e+08,96579379.0,2.232013e+08,27931470.0,174195361.0,5608652.0,135014686.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14515,3518,(주)삼양사,145990,2018/12,32154843.0,1.641119e+09,5.831729e+08,1.057946e+09,284374006.0,1.666024e+09,53299365.0,186717505.0,32154843.0,484074761.0
14516,3519,(주)삼양사,145990,2019/12,17107917.0,1.820282e+09,7.654362e+08,1.054845e+09,264677085.0,1.550801e+09,53299365.0,188660755.0,17107917.0,615294857.0
14517,3520,(주)삼양사,145990,2020/12,40327703.0,1.998094e+09,9.026038e+08,1.095490e+09,268608954.0,1.524770e+09,53417595.0,218530578.0,40327703.0,694106822.0
14518,3521,(주)삼양사,145990,2021/12,28905165.0,2.188296e+09,1.009385e+09,1.178911e+09,256507584.0,1.784425e+09,53417595.0,233204194.0,28905165.0,702758933.0
14519,3522,(주)삼양사,145990,2022/12,55711450.0,2.278458e+09,1.056955e+09,1.221503e+09,290041366.0,1.998768e+09,53417595.0,287457380.0,55711450.0,807549671.0

### 결측치 존재하는 거래소코드 제거

In [72]:
fsdata_na = fsdata_zero.copy()

In [73]:
na_list = fsdata_na[fsdata_na.isna().any(axis=1)]['종목코드'].unique().tolist()
na_list

[122350, 122690, 123410, 123420, 123840, 126700, 131030, 131370]

In [74]:
for i in tqdm(na_list):
    fsdata_na = fsdata_na.drop(fsdata_na[fsdata_na['종목코드']==i].index, axis=0)

fsdata_na

100%|██████████| 8/8 [00:00<00:00, 170.86it/s]

,Unnamed: 0,회사명,종목코드,날짜,당기순이익,자산,부채,자본금,이익잉여금,매출액,매출총이익,영업이익,자본,유동자산
0,14568,동화약품(주),20,2011/12,17679223.0,3.394315e+08,1.098076e+08,2.296239e+08,107930253.0,2.345620e+08,27931470.0,172752303.0,17679223.0,132321355.0
1,14569,동화약품(주),20,2012/12,1311241.0,3.242847e+08,9.729000e+07,2.269947e+08,98772674.0,2.233720e+08,27931470.0,169661268.0,1311241.0,121235712.0
2,14570,동화약품(주),20,2013/12,1011860.0,3.161655e+08,8.893441e+07,2.272311e+08,95673706.0,2.202406e+08,27931470.0,170147330.0,1011860.0,116759938.0
3,14571,동화약품(주),20,2014/12,4937205.0,3.130731e+08,8.334732e+07,2.297258e+08,95203910.0,2.134721e+08,27931470.0,173103713.0,4937205.0,120547703.0
4,14572,동화약품(주),20,2015/12,5608652.0,3.171870e+08,8.706929e+07,2.301177e+08,96579379.0,2.232013e+08,27931470.0,174195361.0,5608652.0,135014686.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14515,3518,(주)삼양사,145990,2018/12,32154843.0,1.641119e+09,5.831729e+08,1.057946e+09,284374006.0,1.666024e+09,53299365.0,186717505.0,32154843.0,484074761.0
14516,3519,(주)삼양사,145990,2019/12,17107917.0,1.820282e+09,7.654362e+08,1.054845e+09,264677085.0,1.550801e+09,53299365.0,188660755.0,17107917.0,615294857.0
14517,3520,(주)삼양사,145990,2020/12,40327703.0,1.998094e+09,9.026038e+08,1.095490e+09,268608954.0,1.524770e+09,53417595.0,218530578.0,40327703.0,694106822.0
14518,3521,(주)삼양사,145990,2021/12,28905165.0,2.188296e+09,1.009385e+09,1.178911e+09,256507584.0,1.784425e+09,53417595.0,233204194.0,28905165.0,702758933.0
14519,3522,(주)삼양사,145990,2022/12,55711450.0,2.278458e+09,1.056955e+09,1.221503e+09,290041366.0,1.998768e+09,53417595.0,287457380.0,55711450.0,807549671.0

In [75]:
fsdata_na.isna().sum()

Unnamed: 0    0
회사명           0
종목코드          0
날짜            0
당기순이익         0
자산            0
부채            0
자본금           0
이익잉여금         0
매출액           0
매출총이익         0
영업이익          0
자본            0
유동자산          0
dtype: int64

In [76]:
fsdata_cal = fsdata_na.copy()

In [77]:
fsdata_cal.to_csv('fs_ver_1.2.csv')

### 재무비율 계산

In [81]:
fsdata_cal.columns

Index(['회사명', '종목코드', '날짜', '당기순이익', '자산', '부채', '자본금', '이익잉여금', '매출액',
       '매출총이익', '영업이익', '자본', '유동자산'],
      dtype='object')

In [80]:
fsdata_cal.drop('Unnamed: 0', axis=1, inplace=True)

In [82]:
fsdata_cal = fsdata_cal.groupby('종목코드').apply(lambda group : group.sort_values(by='날짜')).reset_index(drop=True)

In [83]:
fsdata_cal.head()

,회사명,종목코드,날짜,당기순이익,자산,부채,자본금,이익잉여금,매출액,매출총이익,영업이익,자본,유동자산
0,동화약품(주),20,2011/12,17679223.0,339431477.0,109807603.0,229623874.0,107930253.0,234561984.0,27931470.0,172752303.0,17679223.0,132321355.0
1,동화약품(주),20,2012/12,1311241.0,324284672.0,97290002.0,226994670.0,98772674.0,223371997.0,27931470.0,169661268.0,1311241.0,121235712.0
2,동화약품(주),20,2013/12,1011860.0,316165541.0,88934413.0,227231127.0,95673706.0,220240575.0,27931470.0,170147330.0,1011860.0,116759938.0
3,동화약품(주),20,2014/12,4937205.0,313073100.0,83347317.0,229725782.0,95203910.0,213472145.0,27931470.0,173103713.0,4937205.0,120547703.0
4,동화약품(주),20,2015/12,5608652.0,317187030.0,87069288.0,230117742.0,96579379.0,223201285.0,27931470.0,174195361.0,5608652.0,135014686.0

In [84]:
fsdata_cal['ROA'] = fsdata_cal['당기순이익'] / fsdata_cal['자산']
fsdata_cal['자산회전율'] = fsdata_cal['매출액'] / fsdata_cal['자산']
fsdata_cal['매출액영업이익률'] = fsdata_cal['영업이익'] / fsdata_cal['매출액'] * 100
fsdata_cal['매출총이익률'] = fsdata_cal['매출총이익'] / fsdata_cal['매출액'] * 100

In [85]:
fsdata_cal['매출액증가율'] = fsdata_cal['매출액'].pct_change()
fsdata_cal['영업이익증가율'] = fsdata_cal['영업이익'].pct_change()
fsdata_cal['순이익증가율'] = fsdata_cal['당기순이익'].pct_change()
fsdata_cal['총자본증가율'] = fsdata_cal['자본'].pct_change()

In [87]:
fsdata_cal = fsdata_cal.drop(fsdata_cal[fsdata_cal['날짜'] == '2011/12'].index, axis=0)

In [88]:
fsdata_cal[fsdata_cal['날짜'] == '2011/12']

Empty DataFrame
Columns: [회사명, 종목코드, 날짜, 당기순이익, 자산, 부채, 자본금, 이익잉여금, 매출액, 매출총이익, 영업이익, 자본, 유동자산, ROA, 자산회전율, 매출액영업이익률, 매출총이익률, 매출액증가율, 영업이익증가율, 순이익증가율, 총자본증가율]
Index: []

[0 rows x 21 columns]

In [89]:
fsdata_cal.to_csv('fs_ver_2.0.csv')

# 나머지 시가총액대비 비율계산 요망 (PBR, PER, PSR) + 부채비율 추가해야함

In [90]:
fsdata_cal['부채비율'] = fsdata_cal['부채']/ fsdata_cal['자본']

### 아마도 최종_fs데이터 종목코드로 price데이터에 filtering

In [236]:
fs_list = fsdata_cal['종목코드'].unique().tolist()

1204

In [70]:
data = pd.read_csv('fs_ver_3.0.csv')

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13211 entries, 0 to 13210
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13211 non-null  int64
 1   티커          13211 non-null  int64
 2   시가총액        13211 non-null  int64
 3   리밸런싱일       13211 non-null  object
 4   회사명         13211 non-null  object
 5   날짜          13211 non-null  object
 6   당기순이익       13211 non-null  float64
 7   자산          13211 non-null  float64
 8   부채          13211 non-null  float64
 9   자본금         13211 non-null  float64
 10  이익잉여금       13211 non-null  float64
 11  매출액         13211 non-null  float64
 12  매출총이익       13211 non-null  float64
 13  영업이익        13211 non-null  float64
 14  자본          13211 non-null  float64
 15  유동자산        13211 non-null  float64
 16  ROA         13211 non-null  float64
 17  자산회전율       13211 non-null  float64
 18  매출액영업이익률    13211 non-null  float64
 19  매출총이익률      13211 non-null  float64
 20  매출액증가율      13211 non-null  float64
 21  영업이익증가율     13211 non-null  float64
 22  순이익증가율      13211 non-null  float64
 23  총자본증가율      13211 non-null  float64
 24  PER         13211 non-null  float64
 25  PBR         13211 non-null  float64
 26  PSR         13211 non-null  float64
dtypes: float64(21), int64(3), object(3)
memory usage: 2.7+ MB

In [239]:
pricedata_filt = pd.DataFrame()

for i in tqdm(fs_list):
    pricedata_filt = pd.concat([pricedata_filt, pricedata[pricedata['종목코드']==i]])

pricedata_filt

  1%|          | 9/1204 [00:00<00:14, 81.42it/s]

100%|██████████| 1204/1204 [01:52<00:00, 10.73it/s]

,Unnamed: 0,Unnamed: 0.1,날짜,시가,고가,저가,종가,거래량,종목코드
0,0,0,2012-10-25,6500.0,6560.0,6300.0,6340.0,243931.0,20
1,1,1488,2012-10-26,6340.0,6410.0,6110.0,6200.0,503636.0,20
2,2,2976,2012-10-29,6150.0,6400.0,6060.0,6270.0,191814.0,20
3,3,4464,2012-10-30,6220.0,6440.0,6220.0,6390.0,66578.0,20
4,4,5952,2012-10-31,6440.0,6590.0,6410.0,6500.0,378777.0,20
...,...,...,...,...,...,...,...,...,...
3615139,4039911,5173328,2023-10-19,36650.0,38350.0,36350.0,37650.0,376005.0,161390
3615140,4039912,5175707,2023-10-20,38100.0,38150.0,37000.0,37150.0,174096.0,161390
3615141,4039913,5178086,2023-10-23,37500.0,38300.0,36950.0,37700.0,237028.0,161390
3615142,4039914,5180465,2023-10-24,38650.0,38700.0,37000.0,37350.0,266571.0,161390
3615143,4039915,5182844,2023-10-25,37550.0,38050.0,37150.0,37550.0,114283.0,161390

In [240]:
len(pricedata_filt['종목코드'].unique())

1204

# 시가총액 데이터프레임 구해서 재무지표 추가

In [8]:
# 시가총액 대비 칼럼 추가
# 증가율에 100 곱하기

import pandas as pd
from tqdm import tqdm
from pykrx import stock


fsdata = pd.read_csv('fs_ver_2.0.csv')

In [9]:
stock_code = fsdata['종목코드'].unique().tolist()
date_list = ['2013-04-01', '2014-04-01', '2015-04-01', '2016-03-31', '2017-04-03', '2018-04-02', '2019-04-01', '2020-04-01', '2021-04-01', '2022-04-01', '2023-04-03']

In [10]:
result = pd.DataFrame()
for date in tqdm(date_list):
    date_data = stock.get_market_cap_by_ticker(date)
    date_data['날짜'] = date
    result = pd.concat([result, date_data], axis=0)

100%|██████████| 11/11 [00:30<00:00,  2.75s/it]

In [11]:
result

             종가             시가총액      거래량          거래대금      상장주식수          날짜
티커
005930  1512000  222716597544000   105910  160876738000  147299337  2013-04-01
005380   222000   48901378338000   176622   39130504500  220276479  2013-04-01
012330   306000   29787222078000   104476   31961990000   97343863  2013-04-01
005490   325000   28335721375000    66523   21557368500   87186835  2013-04-01
000270    55100   22335520419700  1181176   64902836500  405363347  2013-04-01
...         ...              ...      ...           ...        ...         ...
288490       48       1831056000    35714       1782290   38147000  2023-04-03
267060      181       1654666524        0             0    9141804  2023-04-03
267810      900       1608300000     8873       4676867    1787000  2023-04-03
308700      329       1316000000       16          5127    4000000  2023-04-03
322190      120       1071023640       46          5982    8925197  2023-04-03

[25421 rows x 6 columns]

In [12]:
result.reset_index(inplace=True)

In [13]:

result.head()

,티커,종가,시가총액,거래량,거래대금,상장주식수,날짜
0,005930,1512000,222716597544000,105910,160876738000,147299337,2013-04-01
1,005380,222000,48901378338000,176622,39130504500,220276479,2013-04-01
2,012330,306000,29787222078000,104476,31961990000,97343863,2013-04-01
3,005490,325000,28335721375000,66523,21557368500,87186835,2013-04-01
4,000270,55100,22335520419700,1181176,64902836500,405363347,2013-04-01

In [14]:
stock_code = fsdata['종목코드'].unique().tolist()

In [15]:
stock_code = fsdata['종목코드'].astype(str).str.zfill(6).unique()

In [16]:
market_cap = pd.DataFrame()
for i in tqdm(stock_code):
    market_cap = pd.concat([market_cap, result[result['티커']==i][['티커', '시가총액', '날짜']]])

  1%|          | 8/1201 [00:00<00:19, 60.40it/s]

100%|██████████| 1201/1201 [00:19<00:00, 61.16it/s]

In [17]:
market_cap.reset_index(inplace=True)

In [18]:
market_cap.drop('index', axis=1, inplace=True)

In [19]:
market_cap.columns = ['티커' ,'시가총액', '리밸런싱일']

In [21]:
fs_cap_data = pd.concat([market_cap, fsdata_cal], axis=1)

In [22]:
fs_cap_data.drop('Unnamed: 0', axis=1, inplace=True)

In [23]:
fs_cap_data['PER'] = fs_cap_data['시가총액'] / fs_cap_data['당기순이익']
fs_cap_data['PBR'] = fs_cap_data['시가총액'] / (fs_cap_data['자본금'] + fs_cap_data['이익잉여금'])
fs_cap_data['PSR'] = fs_cap_data['시가총액'] / fs_cap_data['매출액']

In [24]:
fs_cap_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13211 entries, 0 to 13210
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   티커        13211 non-null  object
 1   시가총액      13211 non-null  int64
 2   리밸런싱일     13211 non-null  object
 3   회사명       13211 non-null  object
 4   종목코드      13211 non-null  int64
 5   날짜        13211 non-null  object
 6   당기순이익     13211 non-null  float64
 7   자산        13211 non-null  float64
 8   부채        13211 non-null  float64
 9   자본금       13211 non-null  float64
 10  이익잉여금     13211 non-null  float64
 11  매출액       13211 non-null  float64
 12  매출총이익     13211 non-null  float64
 13  영업이익      13211 non-null  float64
 14  자본        13211 non-null  float64
 15  유동자산      13211 non-null  float64
 16  ROA       13211 non-null  float64
 17  자산회전율     13211 non-null  float64
 18  매출액영업이익률  13211 non-null  float64
 19  매출총이익률    13211 non-null  float64
 20  매출액증가율    13211 non-null  float64
 21  영업이익증가율   13211 non-null  float64
 22  순이익증가율    13211 non-null  float64
 23  총자본증가율    13211 non-null  float64
 24  PER       13211 non-null  float64
 25  PBR       13211 non-null  float64
 26  PSR       13211 non-null  float64
dtypes: float64(21), int64(2), object(4)
memory usage: 2.7+ MB

In [25]:
fs_cap_data.drop('종목코드', axis=1, inplace=True)

In [26]:
fs_cap_data.to_csv('fs_ver_3.0.csv')

In [27]:
pricedata = pd.read_csv('enlist_ver_2.0.csv')
pricedata['종목코드'] = pricedata['종목코드'].astype(str).str.zfill(6)
pricedata.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [28]:
pricedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3620556 entries, 0 to 3620555
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      object
 1   시가      float64
 2   고가      float64
 3   저가      float64
 4   종가      float64
 5   거래량     float64
 6   종목코드    object
dtypes: float64(5), object(2)
memory usage: 193.4+ MB

In [29]:
fsdata_code = fs_cap_data['티커'].unique().tolist()

In [30]:
result = pd.DataFrame()
for i in tqdm(fsdata_code):
    result = pd.concat([result, pricedata[pricedata['종목코드']==i]], axis=0)

len(result['종목코드'].unique())

100%|██████████| 1201/1201 [19:11<00:00,  1.04it/s]

1201

In [31]:
result.to_csv('price_ver_3.0.csv')

In [41]:
pricedata = pd.read_csv('price_ver_3.0.csv')

In [42]:
pricedata.columns = ['X', 'Date', 'Open','High', 'Low', 'Close', 'Volume', '종목코드']
pricedata.drop('X', axis=1, inplace=True)
pricedata['Date'] = pd.to_datetime(pricedata['Date'])

In [43]:
pricedata = pricedata.groupby('종목코드').apply(lambda group: group.set_index('Date').sort_index()).reset_index(level=0, drop=True)

In [44]:
pricedata['종목코드'] = pricedata['종목코드'].astype(str).str.zfill(6)

In [45]:
pricedata.head()
pricedata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3249906 entries, 2012-10-25 to 2023-10-25
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   Open    float64
 1   High    float64
 2   Low     float64
 3   Close   float64
 4   Volume  float64
 5   종목코드    object
dtypes: float64(5), object(1)
memory usage: 173.6+ MB

In [46]:
pricedata['Volume'] = pricedata['Volume'].astype(int)

In [47]:
pricedata.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3249906 entries, 2012-10-25 to 2023-10-25
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   Open    float64
 1   High    float64
 2   Low     float64
 3   Close   float64
 4   Volume  int32
 5   종목코드    object
dtypes: float64(4), int32(1), object(1)
memory usage: 161.2+ MB

In [73]:
len(pricedata['종목코드'].unique())

1201

In [49]:
pricedata.to_csv('price_ver_final.csv')

In [60]:
a = fsdata['회사명'].tolist()

In [67]:
b = pd.DataFrame({'회사명' : a})
b

           회사명
0      동화약품(주)
1      동화약품(주)
2      동화약품(주)
3      동화약품(주)
4      동화약품(주)
...        ...
13206   (주)삼양사
13207   (주)삼양사
13208   (주)삼양사
13209   (주)삼양사
13210   (주)삼양사

[13211 rows x 1 columns]

In [69]:
pricedata

               Open     High      Low    Close  Volume    종목코드
Date
2012-10-25   6500.0   6560.0   6300.0   6340.0  243931  000020
2012-10-26   6340.0   6410.0   6110.0   6200.0  503636  000020
2012-10-29   6150.0   6400.0   6060.0   6270.0  191814  000020
2012-10-30   6220.0   6440.0   6220.0   6390.0   66578  000020
2012-10-31   6440.0   6590.0   6410.0   6500.0  378777  000020
...             ...      ...      ...      ...     ...     ...
2023-10-19  42500.0  42850.0  41350.0  41350.0   17020  145990
2023-10-20  41300.0  41300.0  40200.0  40600.0   20493  145990
2023-10-23  40300.0  40850.0  40000.0  40500.0    9132  145990
2023-10-24  40850.0  41500.0  40500.0  41200.0    4540  145990
2023-10-25  41650.0  42350.0  41250.0  41800.0   10999  145990

[3249906 rows x 6 columns]

In [68]:
pd.concat([pricedata, b], axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects